<h2>
  <a href="{{ url_for('home') }}">HOME</a> - ALL PIZZAS - ANY OTHER MENU ITEMS - see nav.html
</h2>
<!-- the first one could just be written as:

  <a href="/">HOME</a>

'url_for' is used along with 'home' (the name of the
function attached to the '/' route because if we ever
change the name of the home route it won't matter - it
references it by the function regardless of the route name.

--snippet from routes.py--

@app.route('/')      # this is the '/' route
def home():          # this is the '/' function

This is not mandatory, its just best practice. -->
